/* Slider */
.slider{
	position: relative;
}
.slider *{
	-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
			-moz-box-sizing: border-box;
				-ms-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.3s;
}
.slider .content-slider{
	position: relative;
	height: auto;
}
.slider .content-slider .itens-slider{
	position: relative;
}
.slider .content-slider .itens-slider .item-slider{
	display: none;
	position: relative;
}
.slider .content-slider .itens-slider .item-slider.active{
	display: block;
}
.slider .content-slider .itens-slider .item-slider img{
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 350px;
}
.slider .content-slider .button-prev-slider,
.slider .content-slider .button-next-slider{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.slider .content-slider .button-prev-slider{
	left: 5%;
}
.slider .content-slider .button-next-slider{
	right: 5%;
}

.slider .content-slider .button-prev-slider:before,
.slider .content-slider .button-next-slider:before{
	content: "";
	border-width: 25px;
	border-style: solid;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.slider .content-slider .button-prev-slider:before{
	border-color: transparent rgb(255, 255, 255) transparent transparent;
}
.slider .content-slider .button-next-slider:before{
	border-color: transparent transparent transparent rgb(255, 255, 255);
}
.slider .dots{
	width: 100%;
	height: 25px;
	position: absolute;
	bottom: 5%;
}
.slider .dots div{
	width: 320px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}
.slider .dots .dot-links .dot-item{
	width: 25px;
	height: 25px;
	display: block;
	margin: 0 7px;
}
.slider .dots .dot-links .dot-item a{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}
.slider .dots .dot-links .dot-item a:before{
	content: '';
	background-color: transparent;
	border: rgb(255, 255, 255) solid 1px;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.slider .dots .dot-links .dot-item a.active:before{
	background-color: rgb(255, 255, 255);
	transform: translate(-50%, -50%) scale(1.6);
}
/* End Slider */